{% extends './index.html' %}


{% block content %}


<header>
    <h1>Запись к врачу</h1>
</header>
<div class="container">
    <h2>Добро пожаловать на наш сайт для записи к врачу!</h2>
    <p>
        Здесь вы можете легко и удобно записаться к нужному врачу. Наша система позволяет выбрать врача по специализации и удобному времени приема.
    </p>
    <p>
        Мы заботимся о вашем здоровье и комфорте. Наши врачи высококвалифицированные специалисты, готовые помочь вам в решении ваших медицинских вопросов.
    </p>
    <p>
        Начните процесс записи, выбрав специализацию врача и удобное для вас время. Мы ждем вас!
    </p>
    <button><a href="{% url 'choose_type' %}">Записаться к врачу</a></button>
</div>
{% endblock %}